@import 'tailwindcss';

.cta_btn {
  @apply bg-[linear-gradient(135deg,_#1bbfbf_10%,_#1bbfbf_50%,_#18181c_100%)]
           w-fit rounded-lg px-7 py-2 font-bold ease-in-out duration-300 transition-all
}

.cta_btn:hover {
  @apply ease-in-out duration-300 transition-all shadow-[0_0px_25px_rgba(52,92,235,0.50)]
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  background: linear-gradient(135deg, #1bbfbf 0%, #23243a 60%, #18181c 100%);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}
