@import "tailwindcss";

div .clipscreated-container{
    display: table;
    background-color: #18181C;
    vertical-align: middle;
    min-width: 25vw;
    max-height:max-content;
    margin: 0;
    padding: 0;
}
header{
    padding: 0%;
}
.clipscreated-header{
    display: flex;
    justify-content: center;
}

