@import "tailwindcss";

.viewclip-bg{
  background: linear-gradient(135deg, #1bbfbf 0%, #23243a 60%, #18181c 100%);
}

.viewclip-container header {
    text-align: center;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: mont;
    src: url("./font/Mont-ExtraLightDEMO.otf") format('opentype');
}
@font-face {
    font-family: mont;
    src: url("./font/Mont-HeavyDEMO.otf") format('opentype');
    font-weight: bold;
}
header{
    font-family: mont ;
    font-weight: bold;
}

.vc-controls-container {
  display: block;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.vc-controls-container #vc-b-1 {
  background-color: #D767FF;
  font-weight: 600;
  max-height: 40px;
  max-width: 80px;
  float: left;
  margin: 0;
  margin-top: 10px;
}

.vc-controls-container #vc-b-2 {
  font-weight: 600;
  border-radius: 40px;
  background-color: #820000;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
  margin: 0;
  margin-top: 10px;
}

.vc-controls-container #vc-b-2, #vc-b-1 {
  margin-top: 10px;
}