.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
    background: rgba(65, 65, 65, 0.329);
  }
  .modalContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    border-radius: 50px;
  }
  .modalGuide {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;

    padding: 14px 28px;
    border-radius: 3px;
    /* min-width: 80%;
    min-width: 80%; */
    border-radius: 50px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-guide, h3 {
    text-align: center;
  }
  