.viewclip-container{
    min-width: 50vw;
    min-height: 100vh;
    background-color: #18181C;
}

.viewclip-container header{
    text-align: center;
    padding: 0;
    margin: 0;
}

.viewclip-container iframe{
    display: block;
    margin: auto;
    border: #D767FF;
    border-style: solid;
    border-radius: 10px;
    height: 378px;  
    width: 620px;
}

@font-face {
    font-family: mont;
    src: url("./font/Mont-ExtraLightDEMO.otf") format('opentype');
}
@font-face {
    font-family: mont;
    src: url("./font/Mont-HeavyDEMO.otf") format('opentype');
    font-weight: bold;
}
header{
    font-family: mont ;
    font-weight: bold;
}

.vc-controls-container{
    display: block;
    margin: auto;
    max-width:620px;
    
}
.vc-controls-container #vc-b-1{
    background-color: #D767FF;
    font-weight: 600;
    max-height: 40px;
    max-width: 80px;
    float: left;

}
.vc-controls-container #vc-b-2{
    font-weight: 600;
    border-radius: 40px;
    background-color: #820000;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: right;
}
.vc-controls-container #vc-b-2,#vc-b-1{
    margin-top: 10px;
}