@import "tailwindcss";

div .clipscreated-container{
    display: table;
    background-color: #18181C;
    vertical-align: middle;
    min-width: 25vw;
    max-height:max-content;
    margin: 0;
    padding: 0;
}
header{
    padding: 0%;
}
.clipscreated-header{
    display: flex;
    justify-content: center;
}

.button-format {
  @apply border-2 border-blue-500 rounded-2xl shadow-md shadow-blue-500/50 p-4 font-medium ease-in-out duration-300 transition-transform hover:scale-105  bg-transparent
}