div .clipscreated-container{
    display: table;
    background-color: #18181C;
    vertical-align: middle;
    min-width: 35vw;
    max-height:max-content;
    padding-top: 32px;
}
header{
    padding: 0%;
}
.clipscreated-header{
    display: flex;
    justify-content: center;
}